.footer__copyright {
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

@media (max-width: 760px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}