.profile {
  width: 68.75%;
  position: relative;
  margin: 0 auto 46.25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 760px) {
  .profile {
    flex-direction: column;
    row-gap: 32px;
    min-width: 282px;
    margin-bottom: 36px;
  }
}

