.popup__input_type_login {
    background: #000;
    border-bottom: 2px solid rgba(204, 204, 204, 1);
    color: #cccccc;

}

.popup__input_type_login::placeholder {
    color: #cccccc;
    background-color: #000;


}