.profile__container {
  display: flex;
  column-gap: 20px;
}

@media (max-width: 1024px) {
  .profile__container {
    column-gap: 15px;
  }
}

@media (max-width: 760px) {
  .profile__container {
    flex-direction: column;
    row-gap: 22.25px;
    align-items: center;
  }
}