.profile__description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  grid-area: description;
  margin: 0;
  max-width: 336px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .profile__description {
    font-size: 14px;
  }
}

@media (max-width: 760px) {
  .profile__description {
    text-align: center;
  }
}
